<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        body {
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
            width: 100vw;
            height: 100vh;
            margin: 0;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        main {
            min-width: 480px;
        }

        img {
            border-radius: 10px;
            object-fit: scale-down;
            width: 480px;
            height: 360px;
        }

        table {
            border: 1px solid #abbd81;
            border-spacing: 10px 0;
            padding: 10px;
            margin: 10px;
            border-radius: 10px;
        }

        tbody td:nth-child(odd) {
            text-align: right;
            border-right: 1px solid #abbd81;
        }

        td {
            padding-inline: 0 20px;
        }

        .active {
            fill: #abbd81;
        }

        path.active {
            fill: #637cb5;
        }
    </style>
    <script src="../static/gamecontroller.min.js"></script>
    <script>
        let buttonEvent = (button) => {
            fetch(`/getdata/${button}`)
                .then((response) => {
                    return response.text();
                })
        }

        gameControl.on('connect', function (gamepad) {
            // d-pad
            gamepad.after('button12', () => {
                buttonEvent("button_up")
            });
            gamepad.after('button13', () => {
                buttonEvent("button_down")
            });
            gamepad.after('button14', () => {
                buttonEvent("button_left")
            });
            gamepad.after('button15', () => {
                buttonEvent("button_right")
            });

            // action buttons
            gamepad.after('button0', () => {
                buttonEvent("A")
            });
            gamepad.after('button1', () => {
                buttonEvent("B")
            });
            gamepad.after('button2', () => {
                buttonEvent("X")
            });
            gamepad.after('button3', () => {
                buttonEvent("Y")
            });

            // shoulder buttons
            gamepad.after('button4', () => {
                buttonEvent("LB")
            });
            gamepad.after('button5', () => {
                buttonEvent("RB")
            });
            gamepad.after('button6', () => {
                buttonEvent("LT")
            });
            gamepad.after('button7', () => {
                buttonEvent("RT")
            });

            // left stick
            gamepad.after('up0', () => {
                buttonEvent("left_stick_up")
            });
            gamepad.after('down0', () => {
                buttonEvent("left_stick_down")
            });
            gamepad.after('right0', () => {
                buttonEvent("left_stick_right")
            });
            gamepad.after('left0', () => {
                buttonEvent("left_stick_left")
            });

            // right stick
            gamepad.after('up1', () => {
                buttonEvent("right_stick_up")
            });
            gamepad.after('down1', () => {
                buttonEvent("right_stick_down")
            });
            gamepad.after('right1', () => {
                buttonEvent("right_stick_right")
            });
            gamepad.after('left1', () => {
                buttonEvent("right_stick_left")
            });

            // gamepad visualization

            for (let x = 0; x < Math.min(17, gamepad.buttons); x++) {
                gamepad.on('button' + x, function () {
                    document.querySelector('#button-' + x).classList.toggle('active', true);
                });
            }
            for (let x = 0; x < Math.min(2, gamepad.axes); x++) {
                const directions = ['up', 'down', 'right', 'left'];
                for (let d = 0; d < directions.length; d++) {
                    gamepad.on(directions[d] + x, function () {
                        document
                            .querySelector('#axe-' + x + '-' + directions[d])
                            .classList.toggle('active', true);
                    });
                }
            }
        })
            .on('beforeCycle', function () {
                const active = document.querySelectorAll('.active');
                for (let x = 0; x < active.length; x++) {
                    active[x].classList.toggle('active', false);
                }
            });
    </script>
</head>

<body>
    <main>
        <img onerror="this.src='../static/spinner.gif'" src="/stream">
        <div id="gamepad">
            <svg viewBox="0 0 600 300">
                <g fill="#fff" stroke="#222" stroke-width="1.5">
                    <rect x="150" y="10" width="100" height="100" rx="5" ry="5" id="button-6" />
                    <rect x="350" y="10" width="100" height="100" rx="5" ry="5" id="button-7" />
                    <rect x="100" y="25" width="100" height="40" rx="5" ry="5" id="button-4" />
                    <rect x="400" y="25" width="100" height="40" rx="5" ry="5" id="button-5" />
                    <path d="M135,50 C 45,50 20,180 20,240 20,300 80,330 175,220 175,220 
                    425,220 425,220 520,330 580,300 580,240 580,180 555,50 465,50 Z" />
                    <circle cx="200" cy="200" r="35" />
                    <circle cx="400" cy="200" r="35" />
                    <circle cx="200" cy="200" r="15" id="button-10" />
                    <circle cx="400" cy="200" r="15" id="button-11" />
                    <path d="M190,182 210,182 200,168 Z" stroke-width="0" id="axe-0-up" />
                    <path d="M190,218 210,218 200,232 Z" stroke-width="0" id="axe-0-down" />
                    <path d="M218,190 218,210 232,200 Z" stroke-width="0" id="axe-0-right" />
                    <path d="M182,190 182,210 168,200 Z" stroke-width="0" id="axe-0-left" />
                    <path d="M390,182 410,182 400,168 Z" stroke-width="0" id="axe-1-up" />
                    <path d="M390,218 410,218 400,232 Z" stroke-width="0" id="axe-1-down" />
                    <path d="M418,190 418,210 432,200 Z" stroke-width="0" id="axe-1-right" />
                    <path d="M382,190 382,210 368,200 Z" stroke-width="0" id="axe-1-left" />

                    <circle cx="480" cy="160" r="15" id="button-0" />
                    <circle cx="510" cy="130" r="15" id="button-1" />
                    <circle cx="450" cy="130" r="15" id="button-2" />
                    <circle cx="480" cy="100" r="15" id="button-3" />

                    <rect x="105" y="85" width="30" height="90" fill="#fff" stroke="#fff" />
                    <rect x="75" y="115" width="90" height="30" fill="#fff" stroke="#fff" />

                    <rect x="245" y="145" width="50" height="18" rx="9" ry="9" id="button-8" />
                    <rect x="305" y="145" width="50" height="18" rx="9" ry="9" id="button-9" />

                    <circle cx="120" cy="160" r="15" id="button-13" />
                    <circle cx="90" cy="130" r="15" id="button-14" />
                    <circle cx="150" cy="130" r="15" id="button-15" />
                    <circle cx="120" cy="100" r="15" id="button-12" />

                    <circle cx="300" cy="90" r="20" id="button-16" />
                </g>
                <g dominant-baseline="middle" text-anchor="middle" fill="#222" font-size="14" font-family="Segoe UI">
                    <text x="480" y="160">0</text>
                    <text x="510" y="130">1</text>
                    <text x="450" y="130">2</text>
                    <text x="480" y="100">3</text>
                    <text x="150" y="40">4</text>
                    <text x="450" y="40">5</text>
                    <text x="225" y="30">6</text>
                    <text x="375" y="30">7</text>
                    <text x="270" y="156">8</text>
                    <text x="330" y="156">9</text>
                    <text x="200" y="200">10</text>
                    <text x="400" y="200">11</text>
                    <text x="120" y="100">12</text>
                    <text x="120" y="160">13</text>
                    <text x="90" y="130">14</text>
                    <text x="150" y="130">15</text>
                    <text x="300" y="90">16</text>
                    <text x="270" y="175" font-size="10">SELECT</text>
                    <text x="330" y="175" font-size="10">START</text>
                </g>
            </svg>
        </div>
    </main>
    <aside>
        <div id="controls">
            <h3>Controls</h3>
            <table>
                <tbody>
                    <tr>
                        <td><b>Button</b></td>
                        <td><b>Function</b></td>
                    </tr>
                    <tr>
                        <td>0</td>
                        <td>Take-Off</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Land</td>
                    </tr>
                    <!-- <tr>
                        <td>2</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td></td>
                    </tr> -->
                    <tr>
                        <td>6</td>
                        <td>Move down</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>Move up</td>
                    </tr>
                    <!-- <tr>
                        <td>8</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td></td>
                    </tr> -->
                    <tr>
                        <td>10</td>
                        <td>Move</td>
                    </tr>
                    <tr>
                        <td>11</td>
                        <td>Rotate</td>
                    </tr>
                    <!-- <tr>
                        <td>12</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>13</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>14</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>15</td>
                        <td></td>
                    </tr> -->
                </tbody>
            </table>
        </div>
    </aside>
</body>

</html>